@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --splashBackground: #fffff0;
  --textBlack: #1d1d1f;
}

body {
  color: var(--textBlack);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-splashBackground {
  background-color: var(--splashBackground);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  border-radius: 8px;
  position: relative;
  width: 90%;
}

.transition-page {
  /* Sayfanın yukarıdan kaydırılması ve animasyon efekti için stil */
  transition: transform 0.5s ease-in-out;
}
